* {
    box-sizing: border-box;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}


#container {
    height: 900px;
    background: #FFFFFF;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 0px; */
    /* position: absolute; */
    height: 900px;
    /* left: 0px;
    top: 0px; */

}


.left-side {
    flex-grow: 1;
    flex-basis: 300px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    padding: 90px 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    /* bujigap: 10px; */
    /* height: 900px; */
}

#Rectangle {
    /* position: absolute; */
    height: 60px;
    left: 140px;
    top: 90px;

}

#Rectangle button {
    height: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #4F46E5;
    border: none;
    padding: 15px;
    background: #EEF2FF;
    border-radius: 12px;
    cursor: pointer;


}


#Rectangle button:focus {
    box-shadow: none;
    outline: none;
}

a:link {
    text-decoration: none;
}

.form-group input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 10px;
    max-width: 440px;
    width: 100%;
    height: 65px;
    background: #F3F4F6;
    border-radius: 8px;
    border-style: none;
}

input[type=email] {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

input[type=password] {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #000000
}

label[for=email] {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

label[for=password] {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #000000;
}

label[for=forgotpassword] {
    display: inline-block;
    padding-left: 180px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #4F46E5;
}


.remember {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 33px;
}


#frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    max-width: 440px;
    height: 19px;
}

input[type=checkbox] {
    display: inline-block;
    height: 25px;
    background: #F3F4F6;
    border-radius: 3px;
}

.frame2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    height: 65px;
}

input[type=text] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 10px;
    height: 65px;
    background: #F3F4F6;
    border-radius: 8px;

}

input[for=fname] {
    height: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}


input[for=lname] {
    height: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

label[for=rememberme] {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;

}

.spacing {
    width: 440px;
    height: 55px;
}

h1 {
    position: static;
    height: 39px;
    left: 140px;
    top: 205px;
    font-style: normal;
    font-weight: 600 Semi Bold;
    font-size: 32px;
    line-height: 39px;
}

.firstp {
    height: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4B5563;
    padding-top: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    height: 372px;
    left: 140px;
    top: 355px;
}


.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    height: 94px;
    width: 100%;

}

.button button {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: 1px solid #4F46E5;
    width: 100%;
    height: 69px;
    background: #4F46E5;
    box-shadow: 0px 30px 60px rgba(79, 70, 229, 0.15);
    border-radius: 6px;
    cursor: pointer;
    padding-left: 200px;
    padding-right: 200px;



}

.button button:hover {
    background: #FFFFFF;
    color: #4F46E5;
    transition: all 0.2s;

}


.lastp {
    display: inline-block;
    height: 19px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #4B5563;
}

.right-side {
    flex-grow: 1;
    flex-basis: 300px;
    max-width: 720px;
    height: 900px;
    padding-top: 170px;
    background: linear-gradient(180deg, #3730A3 0%, #312E81 100%);
}

.image {
    width: 100%;
    height: 317px;
    left: -12px;
    top: 150px;

}

.end h5 {
    display: inline-block;
    padding-left: 20px;
    padding-top: 100px;
    height: 28px;
    left: 101px;
    top: 564px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.15em;
    color: rgba(255, 255, 255, 0.6);
}

.end p {
    padding-left: 50px;
    height: 56px;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;

}

.image img {
    width: 100%;
    height: auto;
}


@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    h1 {
        top: 180px;
        font-size: 22px;
    }

    label[for=forgotpassword] {
        padding-left: 0;
    }

    input[type=text] {
        width: 100%;
        padding: 10px;
    }

    .flex,
    .form-group input {
        display: block;
        width: 100%;
    }

    .left-side {
        width: 100%;
        height: 100%;
    }

    .remember {
        display: block;
        width: 100%;
        gap: 0px;
    }

    .end p {
        padding-left: 20px;
        font-size: 16px;
        margin: auto;
    }

    .lastp {
        text-align: left;
    }

    label[for=email] {
        padding-top: 10px;
    }

    .button button {
        padding: 0;
    }

}